.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
}

.link {
  color: #61dafb;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 30px;;
}

.item {
  margin: 10px;
  background: green;
}

.disabledItem {
  margin: 10px;
  background: tomato;
}

.itemsTitle {
  margin: 20px;
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  gap: 20px;
  width: 180px;
}

.toggleButton {
  background-color: white;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  width: 80px;
}

.toggleButton:hover {
  background: #61dafb;
  color:azure;
}

.toggleButtonToggled {
  background: #61dafb;
  color:azure;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  width: 80px;
}

.toggleButtonToggled:hover {
  background-color: white;
  color: black;
}